{% extends 'base.html' %}

{% block title %}Order Details{% endblock %}

{% block content %}
    <h1 class="page-title">Order #{{ order.id }}</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.orderitem_set.all %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Total Amount: k{{ order.total_amount }}</p>
    <p>Deposit Paid: k{{ order.deposit_amount }}</p>


    <div class="button-group">
        {% if order.status == 'pending' %}
            <a href="{% url 'pay_deposit' order.id %}" class="btn">Order Confirmation</a>
            <a href="{% url 'cancel_order' order.id %}" class="btn">Cancel Order</a>
        {% endif %}
       {% if order.status == 'approved' %}

    <form method="POST" action="{% url 'complete_order' order.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Complete Order</button>

</form>

    <a href="{% url 'generate_document' order.id 'invoice' %}" class="btn btn-sm btn-primary">
        <i class="fas fa-file-invoice"></i> Generate Invoice

    </a>
    <a href="{% url 'generate_document' order.id 'receipt' %}" class="btn btn-sm btn-success">
    <i class="fas fa-receipt"></i> Generate Receipt
</a>
{% endif %}
<a href="{% url 'generate_document' order.id 'quotation' %}" class="btn btn-sm btn-secondary">
    <i class="fas fa-file-alt"></i> Generate Quotation
</a>
    </div>
{% endblock %}
